body {
  background-color: rgb(124, 124, 124);
}

#root {
  // height: 100vh;
  display: flex;
  justify-content: center;
}
h1 {
  margin-bottom: 5vh;
  text-align: center;
}
section {
  width: 300px;
  margin-top: 20vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.TodoAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TodoAddInput {
  width: 80%;
  padding: 5px;
}
.TodoAddBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CheckBtn {
  width: 20px;
  height: 20px;
}

.CheckBtn:hover {
  cursor: pointer;
}

.RemoveBtn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RemoveBtn:after {
  display: inline-block;
  content: "\00d7";
  font-size: 14px;
}

li {
  display: flex;
  justify-content: space-between;
}
.item {
  display: flex;
  margin: 20px 0;
  padding: 15px 10px;
  background-color: #fff;
}

//완료시 넣어줄 클래스 스타일
.CheckBtn-Checked {
  background-color: aqua;
}
